.box {
    padding: 0.3rem 0.5rem;
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    margin-left: 0.1rem;
}
.bg-green {
    background: green;
}
.bg-red {
    background: red;
}
.lastActivityHeader {
    display: inline-block;
    margin-left: 2.5rem;
}
.lastActivity {
    font-size: 0.8rem;
    color:rgb(88, 82, 73);
    margin-right: 0.3rem;
}
.lastActivityPhoto {
    width: 25px;
    height: 25px;
    margin-right: 0.3rem;
    border-radius: 50%;
}